{% extends 'Home/header.html' %}

{% block content %}

{% include 'Home/head.html' %}

<main>
	<section class="slider-area slider-area2">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider slider-height2">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-8 col-lg-11 col-md-12">
                                <div class="hero__caption hero__caption2">
                                    <h1 data-animation="bounceIn" data-delay="0.2s">Add Description</h1>
                                    <!-- breadcrumb Start-->
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <p>Your description allows others to interact with you</p>
											</ol>
                                    </nav>
                                    <!-- breadcrumb End -->
                                </div>
                            </div>
                        </div>
                    </div>          
                </div>
            </div>
        </section>
				
			<form method="POST">
				{% csrf_token %}
				<div class="mt-10">
					<input type="text" name="description" placeholder="Your Description"
					onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Description'" required
					class="single-input">
				</div>
				
				<div class="form-group mt-3">
                    <button type="submit" class="button button-contactForm boxed-btn">Add Description</button>
                </div>

		</form>
</main>

{% endblock %}