{% extends 'Profile/form_header.html' %}

{% block content %}

                <h2>Login Here</h2>
                <div class="form-input">
                    <label for="name">Username</label>
                    <input  type="text" name="username" placeholder="Username">
                </div>
                <div class="form-input">
                    <label for="name">Password</label>
                    <input type="password" name="password" placeholder="Password">
                </div>
                <div class="form-input pt-30">
                    <input type="submit" name="submit" value="login">
                </div>
                
                <!-- Forget Password -->
                <!-- Forget Password -->
                <p>Are you new <a href="{% url 'Profile:Register' %}" class="registration">please register</a></p>

{% endblock %}